---
import Link from "@components/ui/link.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Icon } from "astro-icon/components";
import bouquetOfChannels from "@assets/a2.pdf";
import channelPrices from "@assets/a3.pdf";

---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">Channel Information List</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Empowering the world with digital network.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Dive into a world of endless entertainment with Sihimogge Digital Network, the leading digital network offering a diverse range of TV channels to cater to all your preferences. Whether you're passionate about sports, obsessed with movies, up-to-date with the latest news, or enjoy lifestyle and educational content, Sihimogge Digital Network has you covered. Our network delivers high-definition channels, on-demand services, and interactive features that enhance your viewing pleasure. With seamless streaming capabilities, you can watch your favorite shows and channels anytime, anywhere. Join Sihimogge Digital Network today and revolutionize your viewing experience!
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
        <Link size="md" href={bouquetOfChannels} target="_blank">
            <Icon name="bx:download" /> Bouquet of channels
        </Link>
        <Link size="md" href={channelPrices} target="_blank">
            <Icon name="bx:download" /> Channel Prices List</Link>
    </div>
  </Container>
</Layout>
