---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "SVP Hindi",
    description:
      "Star Plus, Star Bharath, Star Utsav, Star Gold, Star Utsav Movies",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "SPP Lite HD Hindi",
    description:
      "Star Bharat HD, Star Utsav, Star Gold HD, Star Gold Thrills",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "SPP Kannada",
    description:
      "Suvarna Plus, Star Movies, Star Movies Select, Star Suvarna",
    icon: "bx:bxs-data",
  },
  {
    title: "SPP Lite HD Kannada",
    description:
      "Suvarna Plus, Star Movies HD, Star Movies Select HD, Fox Life HD",
    icon: "bx:bxs-bot",
  },
  {
    title: "SVP Tamil",
    description:
      "Vijay, Vijay Super, Vijay Takkar, Hungama TV",
    icon: "bx:bxs-file-find",
  },
  {
    title: "SVP Telugu",
    description:
      "Maa TV, Maa Movies, Maa Gold, Maa Music",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Sihimogge Digital Network
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Some of the channels we offer
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
